@model <List<produto> {


    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Comprar com estilo</h1>
    
<section>

<div class="container px-4 px-lg-5">



</section>



</div>
